body{
    background-image: url(./bg.svg);
    width: 100%;
    height: 100%;
   
}

.sun{
    width: 60px;
    height: auto;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px grey;
   height: 30px;
}
.data{
    color: black;
}
